.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: crosshair;
}

.link_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
  stroke-width: 4px;
  cursor: crosshair;
}

.node {
  fill: #000;
  stroke: #333;
  stroke-width: 1.5px;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
  stroke-width: 1.5px;
  cursor: crosshair;
}

.node text {
  font: 9px helvetica;
}

.text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.drag_line {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: crosshair;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}